@model eSupervisor_Beta.MyClasses.PostAndComments

@{
    ViewBag.Title = "Details";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3) { Layout = "~/Views/Shared/_StudentLayout.cshtml"; } else if (roleID == 2) { Layout = "~/Views/Shared/_TeacherLayout.cshtml"; } else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<br/>

<table>
    <tr>
        <td>
            <h2>@Html.DisplayFor(model => model.post.title)</h2>
            @if (Model.post.fileUploads.ToList().Count <= 0)
            {
                @Html.Raw(Model.post.C_content)
            }
            else
            {
                foreach (eSupervisor_Beta.Models.fileUpload file in Model.post.fileUploads)
                {
                    string uri = file.fileUri;
                    <a href="../../@uri" target="_blank">Download</a>
                }
            }
            <br/><br/>
            by <b>@Html.DisplayName(Model.post.user.firstName + " " + Model.post.user.lastName)</b><br/>
            last updated @Html.DisplayFor(model => model.post.updateTime)<br/>
            posted on @Html.DisplayFor(model => model.post.postTime)<br/>
            @if (Model.post.user.id == (int)Session["userid"])
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.post.id }) @Html.DisplayName(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = Model.post.id })<br />
            }
        </td>
    </tr>
</table>

<br/>
<br/>
<h4>comments</h4>
<table>
    @foreach (var cm in Model.comments)
    {
        <tr>
            <td>
                <b>@Html.DisplayName(cm.user.firstName + " " + cm.user.lastName)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(cm.C_content)
            </td>
        </tr>
        <tr><td> </td></tr>
    }
</table>
@using (Html.BeginForm("createComment", "Post"))
{
    @Html.AntiForgeryToken()

    <input type="text" name="postID" style="display:none" value="@Model.post.id" />
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="commentContent" required="true" class="form-control" style="width: 100%" />
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </div>
    </div>
}

