@model eSupervisor_Beta.Models.post

@{
    ViewBag.Title = "Edit post";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3) { Layout = "~/Views/Shared/_StudentLayout.cshtml"; } else if (roleID == 2) { Layout = "~/Views/Shared/_TeacherLayout.cshtml"; } else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<br/><br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            <label class="control-label col-md-2" for="C_content">Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="C_content">Content</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.C_content, new { id = "post-content" })
                @Html.ValidationMessageFor(model => model.C_content)
            </div>
        </div>
        @Html.HiddenFor(model => model.authorID)
        @Html.HiddenFor(model => model.postTime)
<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor/ckeditor.js"></script>
<script>
        $(document).ready(function () {
				CKEDITOR.replace( 'post-content' );
        });
</script>
}
