@model IEnumerable<eSupervisor_Beta.Models.post>

@{
    ViewBag.Title = "Index";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3) { Layout = "~/Views/Shared/_StudentLayout.cshtml"; } else if (roleID == 2) { Layout = "~/Views/Shared/_TeacherLayout.cshtml"; } else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>View Blog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateTime)
        </th>
        <th>
            @Html.DisplayName("Author Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.title, "Details", new { id = item.id })<br/>
            @if (item.fileUploads.ToList().Count <= 0) { 
            <div style=" width: 175px; height: 50px; white-space: normal; text-overflow: ellipsis; overflow: hidden;">
                @Html.Raw(item.C_content)
            </div>
            }
            else
            {
                @Html.DisplayName("Image of file")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateTime)
        </td>
        <td>
            @Html.DisplayName(item.user.firstName + " " + item.user.lastName)
        </td>
        @if (item.authorID == Convert.ToInt16(Session["userid"].ToString()) && item.fileUploads.ToList().Count == 0) { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) 
        </td>
        }
    </tr>
}

</table>
