@model IEnumerable<eSupervisor_Beta.Models.user>

@{
    ViewBag.Title = "selectSupervisor";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3){Layout = "~/Views/Shared/_StudentLayout.cshtml";}else if (roleID == 2) {Layout = "~/Views/Shared/_TeacherLayout.cshtml";} else {Layout = "~/Views/Shared/_Layout.cshtml";}
}

<h2>selectSupervisor</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <input type="radio" name="supervisorID" value="-1" checked="checked" style="display:none"/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            <input type="radio" name="supervisorID" value="@item.id"/>
        </td>
    </tr>
}
</table>
    <h2 style="color:red" id="errorFoo">@ViewBag.NoSupervisorSelected</h2>
     <input type="submit" value="Next" class="btn btn-default" />
}

@section Scripts{
    <script>
        $("form").submit(function (e) {
            var supervisorID = $('input[name=supervisorID]:checked').val();
            if (supervisorID == -1) {
                e.preventDefault();
                $("#errorFoo").html("Please select a supervisor");
            }
        });
    </script>
}