@model IEnumerable<eSupervisor_Beta.Models.user>

@{
    ViewBag.Title = "Select Second Marker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Second Marker</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="radio" name="secondMarkerID" value="-1" checked="checked" style="display:none" />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.firstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lastName)
                    </th>
                    <th>Select</th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastName)
                        </td>
                        <td>
                            <input type="radio" name="secondMarkerID" value="@item.id" />
                        </td>
                    </tr>
        }
            </tbody>
        </table>
        </div>
        <h2 style="color:red" id="errorFoo">@ViewBag.NoSecondMarkerSelected</h2>
        <input type="submit" value="Next" class="btn btn-default" />
        }
        @section Scripts{
            <script>
                $("form").submit(function (e) {
                    var secondMarkerID = $('input[name=secondMarkerID]:checked').val();
                    if (secondMarkerID == -1) {
                        e.preventDefault();
                        $("#errorFoo").html("Please select a second marker");
                    }
                });

                $(document).ready(function () {
                    $('#dataTables').DataTable({
                        responsive: true
                    });
                });
            </script>
        }
