@model IEnumerable<eSupervisor_Beta.MyClasses.StudentWIthSupAndSec>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Allocation</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Student ID")
        </th>
        <th>
            @Html.DisplayName("Student First Name")
        </th>
        <th>
            @Html.DisplayName("Student Last Name")
        </th>
        <th>
            @Html.DisplayName("Student Date Of Birth")
        </th>
        <th>
            @Html.DisplayName("Student Email")
        </th>
        <th>
            @Html.DisplayName("Supervisor ID")
        </th>
        <th>
            @Html.DisplayName("Supervisor First Name")
        </th>
        <th>
            @Html.DisplayName("Supervisor Last Name")
        </th>
        <th>
            @Html.DisplayName("Second Marker ID")
        </th>
        <th>
            @Html.DisplayName("Second Marker First Name")
        </th>
        <th>
            @Html.DisplayName("Second Marker Last Name")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supervisor.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supervisor.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supervisor.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondMarker.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondMarker.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secondMarker.lastName)
            </td>
        </tr>
    }

</table>
