@model IEnumerable<eSupervisor_Beta.MyClasses.UserAndNumbOfMess>
@{
    ViewBag.Title = "NumbOfMess";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3){Layout = "~/Views/Shared/_StudentLayout.cshtml";}else if (roleID == 2) {Layout = "~/Views/Shared/_TeacherLayout.cshtml";} else {Layout = "~/Views/Shared/_Layout.cshtml";}
}

<h2>Report: Number of Messages of Students in last 7 days</h2>
<div class="table-responsive">
    <div style="width:500px">
        <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
                <tr>
                    <td>Sort</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.user.roleID == 3)
                    {
                        <tr class="rowid">
                            <td class="numValue">
                                <span style="display: none">@Html.DisplayFor(modelItem => item.numbOfMess)</span>
                                <strong>@Html.DisplayFor(modelItem => item.user.firstName) @Html.DisplayFor(modelItem => item.user.lastName)</strong>
                                <span class="pull-right text-muted">@Html.DisplayFor(modelItem => item.numbOfMess) Messages</span>
                                <div class="progress progress-striped active">
                                    <div class="sta-bar"></div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    <h2>Report: Number of Messages of Supervisors in last 7 days</h2>
    <table>
        <tr>
            <td>Supervisor ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Number of messages in last 7</td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.user.roleID == 2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numbOfMess)
                    </td>
                </tr>
            }
        }
    </table>

    @section Scripts{
        <script>
            $(document).ready(function () {
                var max = 0;
                $(".rowid").find(".numValue").each(function () {
                    var test = parseInt($(this).text());
                    if (test > max) {
                        max = test;
                    }
                });
                $(".rowid").find(".numValue").each(function () {
                    var test = parseInt($(this).text());
                    $(this).find(".sta-bar").css('width', test / max * 500);
                    if (test <= max / 3)
                        $(this).find(".sta-bar").addClass('progress-bar progress-bar-warning');//smallest
                    else if (test >= max / 3 && test <= max / 2)
                        $(this).find(".sta-bar").addClass('progress-bar progress-bar-info');//acceptable
                    else
                        $(this).find(".sta-bar").addClass('progress-bar progress-bar-success');//strong
                    if (test == 0) {
                        $(this).find(".sta-bar").css('width', 5);
                        $(this).find(".sta-bar").addClass('progress-bar progress-bar-danger');
                    }
                });
            });


            $(document).ready(function () {
                $('#dataTables').DataTable({
                    responsive: true
                });
            });
        </script>
    }
