@model IEnumerable<eSupervisor_Beta.Models.user>

@{
    ViewBag.Title = "selectSupervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>selectSupervisor</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <input type="radio" name="supervisorID" value="-1" checked="checked" style="display:none" />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.firstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lastName)
                    </th>
                    <th>
                        Select
                    </th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lastName)
                        </td>
                        <td>
                            <input type="radio" name="supervisorID" value="@item.id" />
                        </td>
                    </tr>
                }
                </tbody>
        </table>
        </div>
        <h2 style="color:red" id="errorFoo">@ViewBag.NoSupervisorSelected</h2>
        <input type="submit" value="Next" class="btn btn-default" />
        }

        @section Scripts{
            <script>
                $("form").submit(function (e) {
                    var supervisorID = $('input[name=supervisorID]:checked').val();
                    if (supervisorID == -1) {
                        e.preventDefault();
                        $("#errorFoo").html("Please select a supervisor");
                    }
                });

            $(document).ready(function () {
                $('#dataTables').DataTable({
                    responsive: true
                });
            });
        </script>
        }
