@{
    ViewBag.Title = "eSupervisor - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Index Page</h2>

<h4>
    @{
    eSupervisor_Beta.Models.eSupervisorEntities db = new eSupervisor_Beta.Models.eSupervisorEntities();
    int stID = (int)Session["userid"];
    var querrySt = from st in db.users
                   from alc in db.allocations
                   where alc.studentID == st.id && st.id == stID
                   select st;
    if (querrySt.ToList().Count != 0)
    {
        <h4>@Html.ActionLink("View Message", "StudentMessage", "Message")</h4>
        
        <h4>@Html.ActionLink("View Meeting", "studentViewMeeting", "Meeting")</h4>
        
        <h4>@Html.ActionLink("Create new Post", "Create", "Post")</h4>
        <h4>@Html.ActionLink("View All Posts", "StudentViewBlog", "Post")</h4>
        <h4>@Html.ActionLink("View My Posts", "MyBlog", "Post")</h4>
    }
    else
    {
       <h3>You are not allocated to any teacher, please contact with authorised staff!</h3>
       <h3>No function available!</h3>
    }
}
</h4>
