@{
    ViewBag.Title = "eSupervisor - Index";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3){Layout = "~/Views/Shared/_StudentLayout.cshtml";}else if (roleID == 2) {Layout = "~/Views/Shared/_TeacherLayout.cshtml";} else {Layout = "~/Views/Shared/_Layout.cshtml";}
}

<h2>Student Index Page</h2>

    @{
    eSupervisor_Beta.Models.eSupervisorEntities db = new eSupervisor_Beta.Models.eSupervisorEntities();
    int stID = (int)Session["userid"];
    var querrySt = from st in db.users
                   from alc in db.allocations
                   where alc.studentID == st.id && st.id == stID
                   select st;
    if (querrySt.ToList().Count != 0)
    {
        <h4>@Html.ActionLink("View Message", "StudentMessage", "Message")</h4>
        
        <h4>@Html.ActionLink("View Meeting", "studentViewMeeting", "Meeting")</h4>
        
        <h4>@Html.ActionLink("Create new Post", "Create", "Post")</h4>
        <h4>@Html.ActionLink("Upload new File", "PostFile", "Post")</h4>
        <h4>@Html.ActionLink("View All Posts", "StudentViewBlog", "Post")</h4>
        <h4>@Html.ActionLink("View My Posts", "MyBlog", "Post")</h4>
        
        <h4>@Html.ActionLink("View Dashboard", "StudentDashboard", "DashBoard", new { studentIDPara = (int)Session["userid"]}, null)</h4>
    }
    else
    {
       <h3>You are not allocated to any teacher, please contact with authorised staff!</h3>
       <h3>No function available!</h3>
    }
}
