

@{
    ViewBag.Title = "eSupervisor - Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
 <h2>Teacher Index Page</h2>

<h4>@Html.ActionLink("View Message", "TeacherMessage", "Message")</h4>
<h4>@Html.ActionLink("Arrange Meeting", "createMeeting", "Meeting")</h4>
<h4>@Html.ActionLink("View Meeting", "teacherViewMeeting", "Meeting")</h4>

<h4>@Html.ActionLink("Create new Post", "Create", "Post")</h4>
<h4>@Html.ActionLink("View All Posts", "TeacherViewBlog", "Post")</h4>
<h4>@Html.ActionLink("View My Posts", "MyBlog", "Post")</h4>

