@model eSupervisor_Beta.MyClasses.StudentDashboardProps

@{
    ViewBag.Title = "StudentDashboard";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3){Layout = "~/Views/Shared/_StudentLayout.cshtml";}else if (roleID == 2) {Layout = "~/Views/Shared/_TeacherLayout.cshtml";} else {Layout = "~/Views/Shared/_Layout.cshtml";}
}

<br/>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="huge">@Html.DisplayFor(model => model.numberOfMess)</div>
                        <div>New Messages!</div>

                    </div>
                </div>
            </div>
            <a class="view-detail" yd="@ViewBag.studentID" control="MessagesDetailDashboard" style="cursor:pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="huge">@Html.DisplayFor(model => model.numberOfPost)</div>
                        <div>New Posts!</div>

                    </div>
                </div>
            </div>
            <a class="view-detail" yd="@ViewBag.studentID" control="PostsDetailDashboard" style="cursor:pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="huge">@Html.DisplayFor(model => model.numberOfComment)</div>
                        <div>New Comments!</div>

                    </div>
                </div>
            </div>
            <a class="view-detail" yd="@ViewBag.studentID" control="CommentsDetailDashboard" style="cursor:pointer">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div class="huge">@Html.DisplayFor(model => model.numberOfMeeting)</div>
                        <div>New Meetings!</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<table class="table" style="display:none">
    <tr>
        <th>
            @Html.DisplayName("Messages")
        </th>
        <th>
            @Html.DisplayName("Posts")
        </th>
        <th>
            @Html.DisplayName("Comments")
        </th>
        <th>@Html.DisplayName("Meetings")</th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.numberOfMess)<br />
            @Html.DisplayFor(model => model.numberOfMessWithSup) sent to supervisor<br />
            Last sent at: @Html.DisplayName(Model.lastSentSup)<br />
            @Html.DisplayFor(model => model.numberOfMessWithSec) sent to second marker<br />
            Last sent at: @Html.DisplayName(Model.lastSentSec)<br />
            <a class="view-detail" yd="@ViewBag.studentID" control="MessagesDetailDashboard" style="cursor:pointer">View Detail</a>
        </td>
        <td>
            @Html.DisplayFor(model => model.numberOfPost)<br />
            Last post at: @Html.DisplayName(Model.lastPost)<br />
            <a class="view-detail" yd="@ViewBag.studentID" control="PostsDetailDashboard" style="cursor:pointer">View Detail</a>
        </td>
        <td>
            @Html.DisplayFor(model => model.numberOfComment)<br />
            Last comment at: @Html.DisplayName(Model.lastComment)<br />
            <a class="view-detail" yd="@ViewBag.studentID" control="CommentsDetailDashboard" style="cursor:pointer">View Detail</a>
        </td>
        <td>
            @Html.DisplayFor(model => model.numberOfMeeting)<br />
            Last meeting on: @Html.DisplayName(Model.lastMeeting)
        </td>
    </tr>
    
</table>
<div id="detail-tbl">
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".view-detail").click(function () {
                var studentIDPara = $(this).attr("yd");
                var action = $(this).attr("control");
                $.ajax({
                    type: "GET",
                    url: "/DashBoard/" + action,
                    data: { studentIDPara: studentIDPara },
                    datatype: "html",
                    success: function (data) {
                        $('#detail-tbl').html(data);
                    }
                });
            });
        });
    </script>
}